<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CODIGO</th>
        <th scope="col">DECRIPCION</th>
        <th scope="col">PRECIO C</th>
        <th scope="col">PRECIO V</th>
        <th scope="col">GANANCIA</th>
        <th scope="col">EXISTENCIA</th>
        <th scope="col">EDITAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of dataServiceProducto.datos">
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.codigo}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precioC}}</td>
        <td>{{producto.precioV}}</td>
        <td>{{producto.ganancia}}</td>
        <td>{{producto.existencia}}</td>
        <td>
            <a class="btn btn-primary" [routerLink]="['/detalle',producto.id]">Editar :D</a>
        </td>
      </tr>
    </tbody>
  </table>