<div class="m-5">
    <div class="row justify-content-center">
        <div class="border border rounded-4 p-5 col-sm-8 col-md-7 col-lg-5">
            <div class="row g-3">
                <div>
                    <input type="text" name="" id="" placeholder="Nombre" class="form-control">
                </div>
                <div>
                    <input type="text" name="" id="" placeholder="Correo electrónico" class="form-control">
                </div>
                <div>
                    <input type="text" name="" id="" placeholder="Teléfono" class="form-control">
                </div>
                <div>
                    <input type="text" name="" id="" placeholder="Sujeto" class="form-control">
                </div>
                <div>
                    <textarea name="" id="" cols="30" rows="5" placeholder="Mensaje..." class="form-control"></textarea>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>